@font-face{
    font-family: "ScienceGothic";
    src: url(../fonts/ScienceGothic.ttf) format(truetype);
}
@font-face {
    font-family: "Moderustic";
    src: url(../fonts/ofont.ru_Moderustic.ttf) format(truetype);
}